<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.baidupcs.com/file/433443e85a9184e911d443c4eecd2e6f?fid=3492495349-250528-436878102951502&time=1407142179&sign=FDTAXER-DCb740ccc5511e5e8fedcff06b081203-ZsuQdMwFPcsVcbayfWDFI2k45fI%3D&to=nbb&fm=Nin,B,T,t&newver=1&newfm=1&expires=1407144361&rt=sh&r=431400746&mlogid=1043880977&sh=1&vuk=3492495349&vbdid=585280034</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xneo.bdwcs</string>
				<key>bundle-version</key>
				<string>1.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>别挡我超神</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
